@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontPrimary: "Montserrat", sans-serif;
$fontSecondary: "Josefin Sans", sans-serif;

$fontRegular: 300;
$fontBold: 700;
$fontBolder: 900;
$fontHeader1: 3rem;
$fontHeader2: 2.5rem;
$fontHeader3: 1.5rem;
$fontBody: 1rem;
$breakpointXSmall: 475px;
$breakpointSmall: 640px;
$breakpointMedium: 768px;
$breakpointLarge: 1024px;
$breakpointXLarge: 1280px;
$breakpoint2XLarge: 1536px;
$colorLight: #F9EFE5;
$colorGradient: linear-gradient(to right, #141e30, #243b55);






