@import '../Variables/Variable.scss';

html {
  font: inherit;
}

body {
  font-size: $fontBody;
  background: $colorGradient;
  color: $colorLight;
}

.Game-Body {
  display: grid;
  justify-content: center;
  padding: 2rem;
}
