@import '../Variables/Variable.scss';

button {
  background-color: transparent;
  border: 0;
  color: $colorLight;
}

.Card {
  display: grid;
  gap: 2rem;
}

.Card-List {
  display: grid;
  gap: 2rem;
}

.Card-List img {
  display: grid;
  place-items: center;
  border-radius: 2rem;
  object-fit: cover;
  box-shadow: rgba(229, 227, 227, 0.4) 0px 2px 4px, rgba(225, 222, 222, 0.537) 0px 7px 13px -3px, rgba(221, 219, 219, 0.438) 0px -3px 0px inset;
  cursor: pointer;

}

.Card-Description {
  font-weight: $fontBold;
}

.loading {
  display: flex;
  font-size: $fontHeader1;
  font-weight: $fontBold;
  text-align: center;
}

img:hover {
  transform: scale(1.1);

}

img:active {
  transform: translateY(0.2rem);
}


