@import "../Variables/Variable.scss";

.GameScore {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;
  gap: 1rem;
  max-width: 50rem;
}

.Scores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}


