@import '../Variables/Variable.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,svg,picture,canvas,video {
  display: block;
  max-width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: $fontPrimary;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
  font-family: $fontSecondary;
}

html:focus-within {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: $breakpoint2XSmall) {
  #root {
    max-width: $breakpoint2XSmall;
  }

  .Card {
    grid-template-columns: repeat(1, 1fr);
  }

  .GameScore {
    font-size: $fontHeader3;
  }

  .Scores {
    grid-template-rows: 1fr 1fr;
  }

  
}

@media (min-width: $breakpointXSmall) {
  #root {
    max-width: $breakpointXSmall;
  }

  .GameScore {
    font-size: $fontHeader3;
  }

  .Scores {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $breakpointSmall) {
  #root {
    max-width: $breakpointSmall;
  }

}

@media (min-width: $breakpointMedium) {
  #root {
    max-width: $breakpointMedium;
  }

  .Card {
    grid-template-columns: repeat(3, 1fr);
  }

  .GameScore {
    font-size: $fontHeader2;
  }
  

  h1 {font-size: 3.5rem;}
  h2 {font-size: 3rem;}
  h3 {font-size: 2rem;}
}

@media (min-width: $breakpointLarge) {
  #root {
    max-width: $breakpointLarge;
  }

  .Card-Description {
    font-size: $fontBody;
  }
  
}

@media (min-width: $breakpointXLarge) {
  #root {
    max-width: $breakpointXLarge;
  }
}

@media (min-width: $breakpoint2XLarge) {
  #root {
    max-width: $breakpoint2XLarge;
  }

  .Card {
    grid-template-columns: repeat(3, 1fr);

  }
}







